@CHARSET "UTF-8";

.slide h1, .slide h2, .slide h3, .slide h4, .slide h5, .slide h6,
.slide p, .slide section {
  font-family: "Microsoft YaHei", Consolas, sans-serif;
}

.slides>section.slide, .slides>section>section.slide {
  display: block;
  width: 1200px;
  height: 675px;
  padding: 40px 80px;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
      box-sizing: border-box;

  background: url("background.jpg") center center no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
  
  border: 1px solid hsla(240, 100%, 0%, .3);
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(240, 100%, 0%, .1);
  
  color: hsl(240, 96%, 96%);
  text-align: left;
  
  font-family: "Microsoft YaHei", Consolas, sans-serif;
  font-size: 30px;
}

.slides section.slide.begin {
  background: url("background-1.jpg") center center no-repeat;
}
.slides section.slide.end {
  background: url("background-1.jpg") center center no-repeat;
}

.slides section.slide.middle {
  text-align: center;
}

.slide ul {
  display: block;
}

.slide pre, .slide code {
  font-size: 0.8em;
  font-family: Consolas "Courier New" monospace;
  letter-spacing: 0.05em;
  color: hsl(240, 60%, 90%);
  width: 100%;
  margin: 2px 0px 2px 0px;
}

.slide b {
  letter-spacing: 0.1em;
}

.slide p {
  font-size: 1em;
  margin: 1px 0px 1px 0px;
  text-shadow: 0px 0px 6px hsla(240, 50%, 50%, 0.2);
}

.slide li {
  font-size: 1em;
  margin: 1px 0px 1px 0px;
  text-shadow: 0px 0px 6px hsla(240, 50%, 50%, 0.2);
}

.slide a {
  font-size: 1em;
  color: hsla(240, 40%, 80%, 1);
  margin: 0px 5px 0px 5px;
  padding: 2px 4px 2px 4px;
}

.slide img {
  max-width: inherit;
  max-height: inherit;
}

.slide footer {
  font-size: 0.5em;
}

.slide button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, hsl(240,70%,60%)), color-stop(1, hsl(240,50%,50%)) );
  background:-webkit-linear-gradient( center top, hsl(240,70%,60%) 10%, hsl(240,50%,50%) 100% );
  background:   -moz-linear-gradient( center top, hsl(240,70%,60%) 10%, hsl(240,50%,50%) 100% );
  background:    -ms-linear-gradient( center top, hsl(240,70%,60%) 10%, hsl(240,50%,50%) 100% );
  background:   -o-linear-gradient( center top, hsl(240,70%,60%) 10%, hsl(240,50%,50%) 100% );
  background-color: hsl(240,70%,60%);
  
  border-radius: 5px;
  
  border:1px solid hsl(240,80%,50%);
  display:inline-block;
  color: hsl(0,100%,100%);
  font-weight:bold;
  font-style:normal;
  font-size: 0.5em;
  text-indent:0;
  text-decoration:none;
  text-align:center;
  text-transform: uppercase;
}
.slide button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, hsl(240,50%,50%)), color-stop(1, hsl(240,70%,60%)) );
  background:-webkit-linear-gradient( center top, hsl(240,50%,50%) 10%, hsl(240,70%,60%) 100% );
  background:   -moz-linear-gradient( center top, hsl(240,50%,50%) 10%, hsl(240,70%,60%) 100% );
  background:    -ms-linear-gradient( center top, hsl(240,50%,50%) 10%, hsl(240,70%,60%) 100% );
  background:   -o-linear-gradient( center top, hsl(240,50%,50%) 10%, hsl(240,70%,60%) 100% );
  background-color: hsl(240,50%,50%);
}
.slide button:active {
  position:relative;
  top:1px;
}

.slide header {
  margin-bottom: 40px;
}

.slide h1 {
  font-size: 4em;
  text-transform: none;
  margin-bottom: 50px;
}

.slide h2 {
  color: hsl(240, 60%, 100%);
  font-size: 3.2em;
  text-transform: none;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;
  text-shadow: 2px 4px 6px hsla(240, 80%, 20%, 0.2);
  -webkit-text-stroke: 4px hsla(240, 40%, 80%, 0.2);
   -moz-text-stroke: 4px hsla(240, 40%, 80%, 0.2);
    -ms-text-stroke: 4px hsla(240, 40%, 80%, 0.2);
     -o-text-stroke: 4px hsla(240, 40%, 80%, 0.2);
      text-stroke: 4px hsla(240, 40%, 80%, 0.2);
}

.slide h3 {
  color: hsl(240, 40%, 40%);
  font-size: 1.8em;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 20px;
}

.slide h4 {
  color: hsl(240, 40%, 80%);
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
  margin: 10px 0px 5px 0px;
}

.slide dl {
  display: list-item;
  list-style-type: square;
}
.slide dl dt {
  color: hsl(240, 40%, 80%);
}
.slide dl dd {
  font-size: 0.8em;
}

.slide table {
  font-size: 0.8em;
  border: hsl(240, 100%, 100%) solid 1px;
  width: 100%;
}
.slide table td, .slide table th {
  border: hsla(240, 100%, 100%, 0.6) solid 1px;
}

.slide p code {
  color: hsl(240, 100%, 0%);
  margin: 0px 5px 0px 5px;
}

.slide header.same-line>span, .slide header.same-line>h2 {
  display: inline;
}
.slide header span {
  font-size: 1.5em;
}

.slide.begin header {
  text-align: center;
}
.slide.begin h1 {
  font-size: 4em;
}
.slide.begin h3 {
  color: hsla(240, 40%, 80%, 0.8);
  font-size: 1.5em;
  text-transform: none;
  text-align: right;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px hsla(240, 40%, 80%, 0.2);
   -moz-text-stroke: 1px hsla(240, 40%, 80%, 0.2);
    -ms-text-stroke: 1px hsla(240, 40%, 80%, 0.2);
     -o-text-stroke: 1px hsla(240, 40%, 80%, 0.2);
      text-stroke: 1px hsla(240, 40%, 80%, 0.2);
}

.slide textarea.full-width {
  width: 100%;
  height: 5em;
}

.slide footer.line {
  clear: left;
}

.slide .author {
  text-align: right;
  margin-right: 200px;
  font-size: 1.5em;
}

.slide .stroke {
  font-style: normal;
  -webkit-text-stroke: 1px hsl(240, 40%, 60%);
   -moz-text-stroke: 1px hsl(240, 40%, 60%);
    -ms-text-stroke: 1px hsl(240, 40%, 60%);
     -o-text-stroke: 1px hsl(240, 40%, 60%);
      text-stroke: 1px hsl(240, 40%, 60%);
}

.slide .two-column {
  -webkit-column-count: 2;
   -moz-column-count: 2;
    -ms-column-count: 2;
     -o-column-count: 2;
      column-count: 2;
}

.slide .tips {
  font-size: 0.6em;
}

.slide.middle {
  vertical-align: middle;
}
.slide.middle>* {
  text-align: center;
}
.slide.middle header {
  margin-top: 20%;
}
.slide.middle h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.box {
  display:-webkit-box;
  display:   -moz-box;
  display:  -ms-box;
  display:   -o-box;
  display:    box;
}

.box-half {
  -webkit-box-flex: 1;
   -moz-box-flex: 1;
    -ms-box-flex: 1;
     -o-box-flex: 1;
      box-flex: 1;
}

.glossary dfn {
  color: hsl(240, 40%, 80%);
  font-size: 2em;
  margin: 120px 20px 40px 20px;
  text-align: center;
  text-shadow: 2px 4px 6px hsla(240, 0%, 0%, 0.2);
  display: inline-block;
  line-height: 1.2em;
  cursor: pointer;
}

.glossary p {
  line-height: 160%;
  margin-bottom: 10px;
  display: list-item;
}

.glossary code {
  font-size: 1em;
  font-weight: bold;
  font-family: Consolas "Courier New" monospace;
  color: black;
}

.glossary details {
  margin-bottom: 10px;
}
.glossary details p {
  margin-bottom: 0px;
}

.glossary a[href^="#"] {
  font-size: 1em;
  color: hsla(240, 40%, 80%, 1);
  border: 1px dashed hsla(240, 40%, 80%, 0.8);
  border-radius: 2px;
  margin: 0px 10px 0px 10px;
  padding: 2px 4px 2px 4px;
  transition: background-color 2s;
}

.glossary a[href^="#"]:hover {
  color: hsla(240, 40%, 80%, 0.6);
  background-color: hsla(240, 20%, 80%, 0.4);
  border: 1px dashed hsla(240, 40%, 80%, 0.8);
}

.subsection h3 {
  color: hsl(240, 40%, 80%);
  font-size: 2.4em;
  text-transform: none;
  text-align: center;
  margin-top: 200px;
  text-shadow: 2px 4px 6px hsla(240, 80%, 20%, 0.2);
}

.slide h3+object {
  margin-top: 40px;
}