[submodule "0reveal"]
	path = 0reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "0codemirror"]
	path = 0codemirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "0impress"]
	path = 0impress
	url = https://github.com/bartaz/impress.js.git
