[submodule "reveal"]
	path = external/reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "codemirror"]
	path = external/codemirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "impress"]
	path = external/impress
	url = https://github.com/bartaz/impress.js.git
