@CHARSET "UTF-8";

.slide pre {
  white-space: pre-wrap;
  background-color: dimgray;
}

.slide div.left {
	float: left;
	width: 48%;
	margin-right: 10px;
}

.slide div.right {
	float: right;
	width: 48%;
	margin-left: 10px;
}

.slide .example {
	display: block;
	padding: 10px 20px;
	color: black;
	background: hsla(240, 80%, 80%, 0.1);
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid hsla(240, 80%, 80%, 0.7);
}

.slide .formula {
  font-size: 200%;
}

.slide .css,.slide .js,.slide .html,.slide .key {
	display: inline-block;
	font-family: "Arial";
	color: black;
	background: white;
	margin: 1px 5px;
	padding: 2px 5px;
	position: relative;
	letter-spacing: 0;
	text-shadow: none;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slide .css {
	background: #ff4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4), to(#ffa));
	background-image: -webkit-linear-gradient(top, #ff4, #ffa);
	background-image: -moz-linear-gradient(top, #ff4, #ffa);
	background-image: -o-linear-gradient(top, #ff4, #ffa);
	background-image: linear-gradient(top, #ff4, #ffa);
}

.slide .js {
	background: #4f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f4), to(#afa));
	background-image: -webkit-linear-gradient(top, #4f4, #afa);
	background-image: -moz-linear-gradient(top, #4f4, #afa);
	background-image: -o-linear-gradient(top, #4f4, #afa);
	background-image: linear-gradient(top, #4f4, #afa);
}

.slide .html {
	background: #e88;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e88), to(#fee));
	background-image: -webkit-linear-gradient(top, #e88, #fee);
	background-image: -moz-linear-gradient(top, #e88, #fee);
	background-image: -o-linear-gradient(top, #e88, #fee);
	background-image: linear-gradient(top, #e88, #fee);
}

.slide .key {
	font-family: "Lucida console", Monospace, Arial;
}

.slide .year {
	margin-right: 20px;
}

.slide .caution {
  color: hsla(0, 80%, 80%, 0.8);
}

[data-build]>* {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

[data-build]>*.to-build {
	opacity: 0;
}

